.cartItem{
  display:flex;
  flex-direction: column;
  width: 239px;
  align-items: center;
  cursor: pointer;
  text-align: center;
  
}
.cartItemInfo h5{
  color: var(--text-color, #252B42);
text-align: center;

/* h5 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;


}
.cartItemInfo h6{
  margin-top: -20px;
  color: var(--second-text-color, #737373);
text-align: center;

/* link */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}

.cartItemInfo h4 {
  margin-top: -30px;
  display: flex;
  gap: 1rem;
  position: relative;
  left: 4rem;
}
.pricAfterDiscount{
  color: var(--muted-color, #BDBDBD);
text-align: center;

/* h5 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
position: relative;
left: -10px;
}
.pricebeforDiscount{
  color: var(--secondary-color-1, #23856D);
text-align: center;

/* h5 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
}
.color{display: flex;
  position: relative;
  left: 4rem;
  align-items: center;
  margin-top: -10px;
gap:10px;}