@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);.HeaderContainer{
  display: flex;
height: 58px;
padding: 9px 0px 3px 0px;
justify-content: space-between;
align-items: center;
  background: var(--dark-background-color, #252B42);
  color: white;

}
.sideBarContainer{
  margin-left: 2rem;

  display: flex;
  gap: 1rem;
  align-items: center;
}
.numbersContainer{
  color: var(--light-text-color, #FFF);

/* h6 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
display: flex;
align-items: center;
gap: 1rem;
}
.emailContainer{
  color: var(--light-text-color, #FFF);

font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
  display: flex;
    align-items: center;
    gap: 1rem;
}
.textContainer{
  color: var(--light-text-color, #FFF);

/* h6 */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}
.iconContainer{
  display: flex;
  margin-right: 2rem;
  align-items: center;
  gap: 1rem;
  color: var(--light-text-color, #FFF);

font-family: Montserrat;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.2px;
}